.estiloContenedor {
 display: block;
  justify-content: center;
}
.estiloContenedor h2{
  color: aliceblue !important;
}
.itemList{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}