.xd {
    position: absolute;
    border: 1px solid;
    border-radius: 70px;
    color: black !important;
    background-color: white;
    width: 20px; 
    border-radius: 50%;
    @media (min-width: 992px) {
        right: 15px;
        top: 25px;
    }
}

